<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css" integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="position-relative" style="min-height: 100vh;">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand text-bg-dark">MusiCode</a>


      <% if(user && user.avatar){ %>
        <div class="flex-row my-3 my-md-0">
          <h5 class="profileName d-inline px-2"><%= user.username %></h5>
          <a href="/profile">
            <img id="previewAvatar" class="avatar-tiny" style="width: 32px; height: 32px; border-radius: 16px;" src="data:<%= contentType %>;base64, <%= image %>" alt="avatar preview">
          </a>

          <form action="/logout" method="POST" class="d-inline">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-primary" type="submit">Logout</button>
          </form>
        </div>
      <% }else if(user){ %>
        <div class="flex-row my-3 my-md-0">
          <p class="profileName d-inline px-2"><%= user.username %></p>
          <a href="/profile">
            <img id="previewAvatar" class="avatar-tiny" style="width: 32px; height: 32px; border-radius: 16px;" src="../../images/Sunflower.jpeg" alt="avatar preview">
          </a>
          <form action="/logout" method="POST" class="d-inline">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-primary" type="submit">Logout</button>
          </form>
        </div>
     <% }else {%>

      <div>
        <!-- Button trigger modal -->
        <button class="btn btn-primary d-lg-none" data-bs-toggle="modal" data-bs-target="#loginModal">Login | Register</button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content justify-content-center align-items-center">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Login or Register</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/login" method="POST" id="loginform">
                <div class="input-group-sm">
                    <input type="text" class="form-control-sm row mb-2" id="loginuser" name="loginuser" placeholder="username" aria-label="Username" aria-describedby="label-user-addon">
                    <input type="password" class="form-control-sm row mb-2" id="loginpassword" name="loginpassword" placeholder="password">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary " type="submit" id="label-user-addon">Login</button>
                    <span style="border:2px solid white;"></span>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-lg my-3 my-md-0 d-lg-block d-none">
        <form action="/login" method="POST" id="loginform">
          <div class="input-group">
              <input type="text" class="form-control" id="loginuser" name="loginuser" placeholder="username" aria-label="Username" aria-describedby="label-user-addon">
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="password">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn btn-primary " type="submit" id="label-user-addon">Login</button>
              <span style="border:2px solid white;"></span>
              <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Register</button>
          </div>
        </form>
      </div>
     <% } %>
  </nav>
    

